<div class="modal fade" id="addProgrammedEmail" tabindex="-1" aria-labelledby="addProgrammedEmail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title me-2">Programmed email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Text input with checkbox"
                        [(ngModel)]="programmedEmail!.name">
                    <div class="input-group-text">
                        <input class="form-check-input mt-0" type="checkbox" [(ngModel)]="programmedEmail!.active"
                            aria-label="Checkbox for following text input">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <textarea class="form-control" aria-label="With textarea"
                        placeholder="You can put text or html here..." rows="10"
                        [(ngModel)]="programmedEmail!.body"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text justify-content-center text-sign">H</span>
                    <input type="number" class="form-control" placeholder="Send hour" aria-describedby="basic-addon1"
                        min="0" max="23" [(ngModel)]="programmedEmail!.sendHour">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text justify-content-center text-sign">M</span>
                    <input type="number" class="form-control" placeholder="Send minute" aria-describedby="basic-addon1"
                        min="0" max="60" [(ngModel)]="programmedEmail!.sendMinute">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text justify-content-center text-sign">S</span>
                    <input type="number" class="form-control" placeholder="Send second" aria-describedby="basic-addon1"
                        min="0" max="60" [(ngModel)]="programmedEmail!.sendSecond">
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendMonday" type="checkbox">
                    <label class="form-check-label">Monday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendTuesday" type="checkbox">
                    <label class="form-check-label">Tuesday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendWednesday" type="checkbox">
                    <label class="form-check-label">Wednesday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendThursday" type="checkbox">
                    <label class="form-check-label">Thursday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendFriday" type="checkbox">
                    <label class="form-check-label">Friday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendSaturday" type="checkbox">
                    <label class="form-check-label">Saturday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" [(ngModel)]="programmedEmail!.sendSunday" type="checkbox">
                    <label class="form-check-label">Sunday</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary me-auto" data-bs-toggle="modal"
                    data-bs-target="#addAddresses">@</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="saveProgrammedEmail()">Save</button>
            </div>
        </div>
    </div>
</div>