<div mat-dialog-content [hidden]="!formReady" class="h-100">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ng-container *ngFor="let filter of data.viewComponent.formFields; let i = index ; trackBy: trackByFn">
            <!--Workaround to store a value-->
            <ng-container [ngSwitch]="filter.type" *ngIf="filter.hqlProperty | generateIdForForm as idForInput">
                <label [for]="idForInput" class="form-label">{{filter.name}}</label>
                <!--Selector case-->
                <app-selector *ngSwitchCase="'selector'" [formInput]="form" [formName]="idForInput"
                    [rowFormComponent]="this" [programmaticUpdate]="programmaticUpdate" [filter]="filter">
                </app-selector>
                <!--Text case-->
                <input *ngSwitchCase="'text'" type="text" [id]=idForInput [formControlName]="idForInput"
                    [ngClass]="{'is-invalid': form.get(idForInput)?.errors}" class="form-control">
                <!--Large text case-->
                <textarea *ngSwitchCase="'lg-text'" type="text" [id]=idForInput [formControlName]="idForInput"
                    [ngClass]="{'is-invalid': form.get(idForInput)?.errors}" class="form-control" rows="6">
                </textarea>
                <!--Checkbox case-->
                <input #checkboxInput *ngSwitchCase="'checkbox'" type="checkbox" [id]="idForInput"
                    [formControlName]="idForInput" class="btn ms-2">
                <!--Date case-->
                <div *ngSwitchCase="'date'" class="d-flex flex-column">
                    <mat-form-field *ngSwitchCase="'date'">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" [id]="idForInput" [formControlName]="idForInput"
                        [errorStateMatcher]="matcher">
                        <mat-hint>YYYY/MM/DD</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <!--Decimal case-->
                <input *ngSwitchCase="'decimal'" type="number" [id]=idForInput [formControlName]="idForInput"
                    [ngClass]="{'is-invalid': form.get(idForInput)?.errors}" class="form-control">
                <!--Natural case-->
                <input *ngSwitchCase="'natural'" type="number" step="1" min="0" [id]=idForInput
                    [formControlName]="idForInput" [ngClass]="{'is-invalid': form.get(idForInput)?.errors}"
                    class="form-control">
                <!--Integer case-->
                <input *ngSwitchCase="'integer'" type="number" step="1" [id]=idForInput [formControlName]="idForInput"
                    [ngClass]="{'is-invalid': form.get(idForInput)?.errors}" class="form-control">
                <hr>
            </ng-container>
        </ng-container>
    </form>
</div>
<div *ngIf="!formReady" mat-dialog-content class="d-flex h-100 justify-content-center align-items-center p-5">
    <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;"></div>
</div>
<div *ngIf="formReady" mat-dialog-content class="m-0 p-3">
    <div mat-dialog-actions align="end">
        <button class="btn btn-secondary me-auto" (click)="deleteEntity()"><i class="bi bi-trash"></i></button>
        <button class="btn btn-secondary me-2" mat-dialog-close>Cancel</button>
        <button class="btn btn-primary" (click)="onSubmit()">Save</button>
    </div>
</div>