<div class="d-flex flex-row mb-3 overflow-auto">
    <div class="d-flex flex-column flex-nowrap flex-fill h-100 m-0 p-0" style="min-width: 20%;" cdkDrag>
        <button class="form-control rounded-0 w-100" style="height: 45%;" cdkDrag>Test</button>
        <input type="text" class="form-control rounded-0 w-100" style="height: 45%;">
    </div>
    <div class="d-flex flex-column flex-nowrap flex-fill h-100 m-0 p-0 mw-25" style="min-width: 20%;">
        <button class="form-control rounded-0 w-100" style="height: 45%;">Test</button>
        <input type="text" class="form-control rounded-0 w-100" style="height: 45%;">
    </div>
    <div class="d-flex flex-column flex-nowrap flex-fill h-100 m-0 p-0 mw-25" style="min-width: 20%;">
        <button class="form-control rounded-0 w-100" style="height: 45%;">Test</button>
        <input type="text" class="form-control rounded-0 w-100" style="height: 45%;">
    </div>
    <div class="d-flex flex-column flex-nowrap flex-fill h-100 m-0 p-0 mw-25" style="min-width: 20%;">
        <button class="form-control rounded-0 w-100" style="height: 45%;">Test</button>
        <input type="text" class="form-control rounded-0 w-100" style="height: 45%;">
    </div>
</div>
<div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-5 justify-content-center">
    <ng-container *ngFor="let singleProduct of productList; let i = index">
        <app-product-card [product]="singleProduct"></app-product-card>
    </ng-container>
</div>