<div #modal class="modal fade" id="appLoginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="overflow: hidden; max-height: 60px;">
        <h1 class="modal-title fs-5 me-1">Login</h1>
        <img src="assets/loading.gif" width="50px" height="50px" *ngIf="loading">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit($event)" [formGroup]="registerForm">
          <div class="mb-3">
            <label for="inputAppEmail" class="form-label">Email adress</label>
            <input id="inputAppEmail" type="email" formControlName="appEmail" class="form-control" autocomplete="email"
              [ngClass]="{ 'is-invalid': form.appEmail.errors && submited }">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input id="inputPassword" type="password" formControlName="appPassword" class="form-control"
              autocomplete="current-password" [ngClass]="{ 'is-invalid': form.appPassword.errors && submited }">
          </div>
          <button type="submit" class="btn btn-primary">Log in</button>
        </form>
      </div>
    </div>
  </div>