<app-email-address-modal></app-email-address-modal>

<!--All the available screen (aside top and side navbar)-->
<div class="d-flex flex-column h-100 w-100">
  <!--Box with filters-->
  <div #scrollable1 class="d-flex w-100 overflow-auto hide-scrollbar" style="min-height: 11%; height: 11%;" (scroll)="syncScroll(0)">
    <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in filters (1st with flex-grow-1)-->
      <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
        style="height: 45%;">Test</span>
      <input type="text" class="form-control rounded-0" style="height: 45%;">
    </div>
    <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in filters-->
      <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
        style="height: 45%;">Test</span>
      <input type="text" class="form-control rounded-0" style="height: 45%;">
    </div>
  </div>
  <!--Available screen aside box with filters-->
  <div #scrollable2 class="flex-grow-1 w-100 overflow-auto" (scroll)="syncScroll(1)">
    <div class="d-flex flex-column w-100">
      <div class="d-flex w-100"><!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row(1st with flex-grow-1)-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100" cdkDrag> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
      <div class="d-flex w-100"> <!--This is start of a row-->
        <div class="flex-grow-1 h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <span class="justify-content-center align-items-center input-group-text rounded-0 text-centered"
            style="height: 45%;">Test</span>
        </div>
        <div class="h-100 w-100 p-0 m-0" style="min-width: 20%;"><!--This is start of a column in a row-->
          <button class="btn btn-primary justify-content-center align-items-center input-group-text rounded-0 text-centered w-100"
            style="height: 45%;">Test</button>
        </div>
      </div>
    </div>



    <!--
    <div class="list-group p-1">
      <button class="list-group-item list-group-item-action text-white text-break rounded-1"
        *ngFor="let programmedEmail of programmedEmailList; let i = index; trackBy: trackByFn"
        [ngClass]="programmedEmail.active ? 'bg-primary' : 'bg-dark'" (click)="openProgrammedEmail(programmedEmail)"
        data-bs-toggle="modal" data-bs-target="#addProgrammedEmail">
        {{ programmedEmail.name }} - Programmed at {{programmedEmail.sendHour |
        twoDigit}}:{{programmedEmail.sendMinute |
        twoDigit}}:{{programmedEmail.sendSecond | twoDigit}}
      </button>
    </div>
    -->
  </div>
</div>