<div class="d-flex sticky-top mb-3" cdkDropList cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropFilterColumn($event)">
    <ng-container *ngFor="let filter of filters ; let i = index; trackBy: trackByFn">
        <div [hidden]="!filter.showInGrid" class="filter-box" cdkDrag cdkDragLockAxis="x">
            <!--This is start of a column in filters-->
            <span class="input-group-text rounded-0 fw-semibold d-block text-truncate filter-name">
                {{filter.label}}
            </span>
            <ng-container [ngSwitch]="filter.type">
                <!--Text case-->
                <input *ngSwitchCase="'text'" [type]="'text'" class="form-control rounded-0 filter-input"
                    (keyup.enter)="processTextInputChange(i)" (blur)="processTextInputChange(i)"
                    [(ngModel)]="filter.value">
                <!--Checkbox case-->
                <input *ngSwitchCase="'checkbox'" #checkBoxInput [type]="'checkbox'"
                    class="form-check-input rounded-0 filter-input checkbox-input" [checked]="filter.value"
                    (click)="processCheckBoxChange(i, checkBoxInput.checked)">
                <!--Date case-->
                <mat-form-field *ngSwitchCase="'date'" class="w-100 rounded-0 dense-3" color="primary"
                    subscriptSizing="dynamic">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="From date" [(ngModel)]="filter.startDate"
                            (dateChange)="processDateChange($event)">
                        <input matEndDate placeholder="To date" [(ngModel)]="filter.endDate"
                            (dateChange)="processDateChange($event)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <!--Numeric case-->
                <input *ngSwitchCase="'numeric'" [type]="'text'" class="form-control rounded-0 filter-input"
                    (keyup.enter)="processNumericInputChange(i)" (blur)="processNumericInputChange(i)"
                    [(ngModel)]="filter.value" [ngClass]="filter.invalidExpression ? 'is-invalid' : ''">
            </ng-container>
        </div>
    </ng-container>
</div>