.filter-box {
    min-width: 20%;
    flex: 1;
}

.filter-name {
    user-select: none;
    background-color: #e9ecef;
}

.filter-input {
    height: 60%;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.checkbox-input {
    width: 100%;
    margin-top: 0;
}

/* When drag and drop is a sticky container the z-index needs to be 1200 to avoid visual problems */
.cdk-drag-preview {
    z-index: 1020 !important;
}