<div class="d-flex flex-column">
    <mat-form-field [formGroup]="formInput">
        <mat-label>Select an entry</mat-label>
        <input type="text" placeholder="Pick one" aria-label="Number"
            matInput
            [matAutocomplete]="auto"
            [formControlName]="formName"
            [errorStateMatcher]="matcher">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="showProperty">
            <mat-option *ngFor="let option of resultSet"
                [value]="option"
                (click)="clickInOption(option.id)">
                {{option.identifier}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>