<!--Modals-->
<app-issue-modal [issue]="currentIssue" (addOrRemoveIssue)="changeIssueInput($event)"></app-issue-modal>
<app-jira-login-modal (validLogin)="jiraLogin($event)"></app-jira-login-modal>
<app-application-login-modal (validAppLogin)="appLogin($event)"></app-application-login-modal>
<app-product-modal [fetchApplicationCredentials]="appCredentials"></app-product-modal>

<div class="container-fluid vw-100 vh-100 p-0 all-container">

  <div class="row h-100 w-100 m-0">

    <div class="col-auto h-100 p-0">

      <!--Left taskbar-->
      <div id="side-bar" class="d-flex flex-column flex-shrink-0 p-2 text-bg-dark h-100 side-bar">

        <a href="/" class="d-flex align-items-center justify-content-center">

          <img src="assets/programming.svg" style="height: 50px; width: 50px;">

        </a>

        <hr>

        <!--Add buttons here for left taskbar-->
        <ul class="nav flex-column mb-auto side-bar-btn-list">

          <app-navbarelement pageNumber=0 title="Home" imagePath="assets/house-door.svg" (changePage)="updatePage($event)"></app-navbarelement>

          <app-navbarelement pageNumber=1 title="Jira log app" imagePath="assets/jira.svg" (changePage)="updatePage($event)"></app-navbarelement>

          <app-navbarelement pageNumber=2 title="Products" imagePath="assets/shop-bag.svg" (changePage)="updatePage($event)"></app-navbarelement>

        </ul>

        <hr>
        
        <!--Dropdown button-->
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle side-bar-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#jiraLoginModal" *ngIf="jiraCredentials === null">Jira log in</button></li>
            <li><button class="dropdown-item" (click)="jiraLogout()" type="button" *ngIf="jiraCredentials !== null">Jira log out</button></li>
            <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#appLoginModal" *ngIf="appCredentials === null">App log in</button></li>
            <li><button class="dropdown-item" (click)="appLogout()" type="button" *ngIf="appCredentials !== null">App log out</button></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="col w-100 h-100 p-0">

      <div class="container-fluid w-100 h-100 p-0 main-content-container d-flex flex-column">

        <nav id="navbar" class="navbar navbar-expand-lg bg-light navbar-dark bg-dark top-navbar">

          <div class="container-fluid ps-0">

            <button class="top-navbar-btn bg-dark p-0">

              <img id="side-bar-toggler" src="assets/left-arrow.svg" width="100%" height="100%" (click)="toggleSidebar()">

            </button>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
              </ul>

              <div class="d-flex">

                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal" *ngIf="appCredentials !== null && appCredentials.admin">Add product</button>

              </div>

            </div>

          </div>
          
        </nav>

        <div class="row w-100 m-0 flex-grow-1">
          
          <div class="col w-100 p-1 main-content-col">

            <ng-container [ngSwitch]="selectedPageIndex">

              <ng-container *ngSwitchCase="0">

                <app-main-page-index></app-main-page-index>

              </ng-container>
          
              <ng-container *ngSwitchCase="1">

                <ng-container *ngIf="jiraCredentials !== null">

                  <app-taskbar [issuesParam]="issues" [issuesToInputParam]="issuesToInput" [fetchJiraCredentials]="jiraCredentials" (changeCurrentIssueEvent)=changeSelectedIssue($event)></app-taskbar>
                
                </ng-container>

                <ng-container *ngIf="jiraCredentials === null">

                  <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    
                      <h1 class="text-break">You must log in via Jira login to use this app</h1>

                      <img src="assets/plug-svgrepo-com.svg" width="20%" height="20%">

                    </div>

                </ng-container>

              </ng-container>

              <ng-container *ngSwitchCase="2">

                <ng-container *ngIf="appCredentials !== null">

                  <app-product-list [fetchApplicationCredentials]="appCredentials"></app-product-list>

                </ng-container>

                <ng-container *ngIf="appCredentials === null">

                  <div class="d-flex flex-column align-items-center justify-content-center h-100">
                    
                    <h1 class="text-break">You must log in via App login to use this app</h1>

                    <img src="assets/plug-svgrepo-com.svg" width="20%" height="20%">

                  </div>

                </ng-container>

              </ng-container>

            </ng-container>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<router-outlet></router-outlet>