<!--Modals-->
<app-issue-modal [issue]="currentIssue" (addOrRemoveIssue)="changeIssueInput($event)"></app-issue-modal>
<app-jira-login-modal (validLogin)="jiraLogin($event)"></app-jira-login-modal>
<app-application-login-modal (validAppLogin)="appLogin($event)"></app-application-login-modal>
<app-product-modal [fetchApplicationCredentials]="appCredentials"></app-product-modal>

<!--Top navbar-->
<nav id="topNavbar" class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="position: sticky;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <!--Buttons of admin-->
      <button class="btn btn-primary" type="button" *ngIf="appCredentials !== null && appCredentials.admin" data-bs-toggle="modal" data-bs-target="#addProductModal">Add product</button>
    </div>
  </div>
</nav>

<main id="mainContainer" class="d-flex flex-nowrap" style="width: 100%; height: 100%;">
  <div id="leftBar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 170px; position: static;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <!--Add buttons here for left taskbar-->
    <ul class="nav nav-pills flex-column mb-auto">
      <app-navbarelement pageNumber=0 title="Home" imagePath="assets/house-door.svg" (changePage)="updatePage($event)"></app-navbarelement>
      <app-navbarelement pageNumber=1 title="Jira log app" imagePath="assets/jira.svg" (changePage)="updatePage($event)"></app-navbarelement>
      <app-navbarelement pageNumber=2 title="Products" imagePath="assets/shop-bag.svg" (changePage)="updatePage($event)"></app-navbarelement>
    </ul>
    <hr>
    <!--Dropdown button-->
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#jiraLoginModal" *ngIf="jiraCredentials === null">Jira log in</button></li>
        <li><button class="dropdown-item" (click)="jiraLogout()" type="button" *ngIf="jiraCredentials !== null">Jira log out</button></li>
        <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#appLoginModal" *ngIf="appCredentials === null">App log in</button></li>
        <li><button class="dropdown-item" (click)="appLogout()" type="button" *ngIf="appCredentials !== null">App log out</button></li>
      </ul>
    </div>
  </div>
  <!--Main content-->
    <div id="mainBoxContent" class="container-fluid" style="overflow-y: auto; overflow-x: hidden;">
      <div class="mt-2 ms-2 me-2">
        <ng-container [ngSwitch]="selectedPageIndex">
          <!--Container for Jira integration-->
          <ng-container *ngSwitchCase="1">
            <ng-container *ngIf="jiraCredentials !== null">
              <app-taskbar [issuesParam]="issues" [issuesToInputParam]="issuesToInput" [fetchJiraCredentials]="jiraCredentials" (changeCurrentIssueEvent)=changeSelectedIssue($event)></app-taskbar>
            </ng-container>
            <ng-container *ngIf="this.jiraCredentials === null">
              <div class="child">
                  <h1>You must log in to use this app</h1>
                  <img src="assets/plug-svgrepo-com.svg" width="20%" height="20%" style="left: 500px; margin-left: 50px;">
              </div>
            </ng-container>
          </ng-container>
          <!--Container for Products-->
          <ng-container *ngSwitchCase="2">
            <app-product-list [fetchApplicationCredentials]="appCredentials"></app-product-list>
          </ng-container>
        </ng-container>
      </div>
    </div>
  <!--End of main content-->
</main>

<router-outlet></router-outlet>