<div #sideBarElement id="side-bar" class="d-flex flex-column p-2 bg-dark text-white h-100 mw-100">
    <a href="/" class="align-items-center justify-content-center">
        <img src="assets/icon.png" class="company-image">
    </a>
    <hr>
    <!--Menu items-->
    <div *ngIf="viewReady; else elseBlock" class="menu-item-container">
        <app-navbarelement *ngFor="let item of menuItems; let i = index; trackBy: trackByFn"
            viewIdReference="{{item.viewId}}" title="{{item.name}}" imagePath="{{item.imageSrc}}"
            buttonIndex="{{i}}"></app-navbarelement>
    </div>
    <ng-template #elseBlock>
        <div class="d-flex h-100 justify-content-center align-items-center">
            <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;"></div>
        </div>
    </ng-template>
    <hr>
    <!--Dropdown-->
    <div ngbDropdown class="mt-auto dropdown">
        <button ngbDropdownToggle class="d-flex align-items-center justify-content-center btn text-white p-0 m-0"
            type="button" id="logoutDropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-1">
            <strong #userText id="username-text">foidsadss</strong>
        </button>
        <ul ngbDropdownMenu class="bg-dark border border-white" aria-labelledby="logoutDropdown">
            <li><button href="#" class="btn dropdown-item bg-dark text-white pe-auto" (click)="logout()">Log Out</button></li>
        </ul>
    </div>
</div>