<div class="d-flex flex-column h-100 w-100">
    <div class="overflow-scroll flex-fill" *ngIf="viewReady; else elseBlock">
        <app-row-form [filters]="currentTabFilters" [viewComponent]="this"></app-row-form>
        <app-header [reloadViewSubject]="reloadViewSubject" [filters]="currentTabFilters"
            [viewComponent]="this"></app-header>
        <app-rows [reloadViewSubject]="reloadViewSubject" [viewComponent]="this"></app-rows>
    </div>
    <div class="bg-dark">
        <app-pagination></app-pagination>
    </div>
    <ng-template #elseBlock>
        <div class="d-flex h-100 w-100 justify-content-center align-items-center">
            <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;"></div>
        </div>
    </ng-template>
</div>