.navbar-button{
    transition-duration: 0.2s;
    border-radius: 8px;
    background-color: #212529;
    border-color: #212529;
    border: 0;
}

.navbar-button:hover{
    background-color: #0d6efd!important;
    border-color: #0d6efd!important;
}