.navbar-button {
    transition-duration: 0.2s;
    border-radius: 8px;
    background-color: #212529;
    border-color: #212529;
    border: 0;
}

.navbar-button:hover {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    width: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}