<button (click)="pageChangeService.sendPageChange(viewIdReference)" type="button" class="navbar-button mb-1 text-white w-100"
    [ngStyle]="{'background-color': selected ? '#0d6efd' : '#212529'}">
    <div class="float-start">
        <img *ngIf="imagePath | iconSrcResolver ; else elseBlock" [src]="imagePath" width="25px">
        <ng-template #elseBlock>
            <i [class]="'bi bootstrap-icon h4 ' + imagePath"></i>
        </ng-template>
        <span #titleDisplayer class="btn-text">
            {{title}}
        </span>
    </div>
</button>