<div class="d-flex flex-column h-100">
    <div
        *ngIf="viewReady; else elseBlock"
        class="overflow-auto flex-fill"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="dropFilterColumn($event)">
            <app-header 
                [tabData]="mainTabData"
                [doFetchSubject]="doFetchSubject">
            </app-header>
            <app-grid
                [tabData]="mainTabData"
                [doFetchSubject]="doFetchSubject"
                [reloadViewSubject]="reloadViewSubject"
                [paginationComponent]="pagination">
            </app-grid>
    </div>
    <div class="bg-dark">
        <app-pagination
            [tabData]="mainTabData"
            [doFetchSubject]="doFetchSubject">
        </app-pagination>
    </div>
    <ng-template #elseBlock>
        <div class="d-flex h-100 w-100 justify-content-center align-items-center">
            <div class="spinner-border" role="status" style="width: 6rem; height: 6rem;"></div>
        </div>
    </ng-template>
</div>